.header {
  @apply fixed top-0 left-0 w-full z-50 transition-all ease-in-out duration-300;

  background-color: transparent;
  .container {
    @apply flex-wrap;
  }

  .navbar-brand {
    @apply flex;

    img {
      @apply h-6 md:w-96 md:h-16;
    }
  }

  .navbar-toggle {
    padding: 0;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1.5rem;

    &:hover {
      path {
        @apply stroke-gray-200 transition-all ease-in-out duration-300;
      }
    }
  }

  .navbar {
    @apply py-4 flex items-center;
  }

  .navbar-collapse {
    @apply h-0 flex basis-full items-center justify-end flex-grow flex-col overflow-hidden transition-all ease-in-out duration-300;
    background-color: #0d0f2ce0;

    &.show {
      @apply mt-4 pb-6 transition-all ease-in-out duration-300 rounded-b-lg;
      height: 280px;
    }

    .btn {
      @apply px-7 py-[10px] text-base leading-5 rounded;
    }
  }

  .navbar-nav {
    @apply flex list-none flex-col mr-0 w-full;
  }

  .nav-link {
    @apply block text-base font-bold uppercase px-5 py-4 text-white hover:text-gray-600 focus:text-gray-600 transition-all ease-in-out duration-300;
    font-family: 'Poppins';

    &:hover {
      background-color: #08080850;
    }
  }
}

.black-overlay {
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 100;
}

@media (min-width: 992px) {
  .header {
    .navbar {
      height: 72px;
    }

    .navbar-brand {
      @apply ml-0;

      img {
        @apply block;
      }
    }

    .navbar-toggle {
      @apply hidden;
    }

    .navbar-nav {
      @apply flex-row mr-8  w-auto;
    }

    .navbar-collapse {
      @apply h-auto bg-transparent flex basis-auto flex-row py-0;
    }

    .nav-link {
      @apply rounded;
    }
  }
}
