.accordion {
  @apply list-none p-0 mx-auto;

  .accordion-item {
    @apply mb-2 flex flex-col rounded-lg;
    // border-bottom: 2px solid #6552b3;
    background: linear-gradient(133.63deg, #bd9afa8a 0.8%, #9492e9a3 97.29%);
    // box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  }

  .accordion-item-button {
    @apply relative text-white text-left flex flex-wrap w-full justify-between items-center py-5 pl-6 pr-40 cursor-pointer border-none outline-none text-base md:text-xl;

    @media (max-width: 767px) {
      padding: 12px 42px 12px 12px;
    }
  }

  .accordion-item-control {
    @apply absolute right-3 text-xl;
    top: 50%;
    transform: translateY(-50%);
  }

  .accordion-item-content {
    @apply text-sm md:text-base xl:text-xl p-5;
    color: #d8d9ff;
  }

  .accordion-item-wrapper {
    height: 0;
    overflow: hidden;
    transition: height ease 0.3s;
  }
}
